[책 추천 시스템](https://lsjsj92.tistory.com/606)

In [2]:
import pandas as pd                     
import matplotlib.pyplot as plt          # plotting
import numpy as np                       # dense matrices
from scipy.sparse import csr_matrix      # sparse matrices
%matplotlib inline

In [3]:
data = pd.read_csv('/content/drive/MyDrive/오픈소스 SW/ratings.csv')
books = pd.read_csv('/content/drive/MyDrive/오픈소스 SW/books.csv')

In [4]:
# 사용자가 어떤 book을 평가했는지에 대한 데이터
print(data.shape)
data.head()

(981756, 3)

   book_id  user_id  rating
0        1      314       5
1        1      439       3
2        1      588       5
3        1     1169       4
4        1     1185       4

In [5]:
#책에 대한 정보
print(books.shape)
books.head()

(10000, 23)

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981756 entries, 0 to 981755
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   book_id  981756 non-null  int64
 1   user_id  981756 non-null  int64
 2   rating   981756 non-null  int64
dtypes: int64(3)
memory usage: 22.5 MB

In [17]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(data,test_size = 0.2)
print(train.shape, test.shape)
train.head()

(785404, 3) (196352, 3)

        book_id  user_id  rating
206321     2065    15482       4
46882       469    48825       4
31056       311    26244       4
516002     5175    27212       5
115533     1156    20414       4

In [19]:
number_of_unique_user = len(data.user_id.unique())
number_of_unique_book_id = len(data.book_id.unique())
print(number_of_unique_user,number_of_unique_book_id)

53424 10000

In [32]:
# layer 만들기
book_input = Input(shape=(1, ), name='book_input_layer')
user_input = Input(shape=(1, ), name='user_input_layer')

book_embedding_layer = Embedding(number_of_unique_book_id + 1,8, name='book_embedding_layer')
user_embedding_layer = Embedding(number_of_unique_user + 1,8, name='user_embedding_layer')

dot_result_layer = Dot(name='dot_vector_layer',axes = 1)

NameError: ignored